<div style="width: 80%;margin: 0 auto; ">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="New Player">
        <md-content layout-padding>
          <div>
            <form name="userForm">
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name (English)</label>
                  <input ng-model="player.name">
                </md-input-container>

                <md-input-container flex-gt-sm>
                  <label>Name (Arabic)</label>
                  <input ng-model="player.nameAr" >
                </md-input-container>

                <md-input-container>
                  <label>Date of birthd</label>
                  <md-datepicker ng-model="player.dateOB"></md-datepicker>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nationality (English)</label>
                  <input ng-model="player.nationality" >
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nationality (Arabic)</label>
                  <input ng-model="player.nationalityAr">
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Country of residence (English)</label>
                  <md-select ng-model="player.countryOfResidence">
                    <md-option ng-repeat="countrye in countryes" value="{{countrye.name}}">
                      {{countrye.name}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Country of residence (Arabic)</label>
                  <input ng-model="player.countryOfResidenceAr">
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Sport Type (English)</label>
                  <md-select ng-model="player.type" ng-change="typeSelectChanged()">
                    <md-option ng-repeat="type in types" value="{{type}}">
                      {{type}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Sport Type (Arabic)</label>
                  <md-select ng-model="player.typeAr">
                    <md-option ng-repeat="type in typesAr" value="{{type}}">
                      {{type}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout-gt-sm="row" >
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Sport Level (English)</label>
                  <md-select ng-model="player.size" ng-disabled="disableLevel" ng-change="sizeSelectChanged()">
                    <md-option ng-repeat="size in sizes" value="{{size}}">
                      {{size}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Sport Level (Arabic)</label>
                  <md-select ng-model="player.sizeAr" ng-disabled="disableLevel">
                    <md-option ng-repeat="size in sizeAr" value="{{size}}">
                      {{size}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout-gt-sm="row" >
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Coach Name</label>
                  <md-select ng-model="player.coach">
                    <md-option ng-repeat="countrye in countryes" value="{{countrye.name}}">
                      {{countrye.name}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Club Name</label>
                  <md-select ng-model="player.club" >
                    <md-option ng-repeat="club in clubs" value="{{club}}">
                      {{club}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout-gt-sm="row" >
                <md-button class="md-raised" ng-click="changeProfilePic()" flex-gt-sm >Upload Image</md-button>
                <img ng-src="{{player.pic}}" width="50px" height="50px">
                <md-button class="md-raised md-primary" ng-click="createPlayer()" flex-gt-sm >Create</md-button>
              </div>
            </form>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>