<div class="upper-bar hidden"><button class="btn" id="backBtn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button></div>
<div class="container" style="padding-top: 36px;">
  <div class="row">
    <!-- Bodybuilding -->
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" >
          <thead class="thead-inverse" style="background-color:#DD0C0C ">
            <tr>
              <td class="bold" ng-click="showThisTable($event)" colspan="5" data-toggle="tooltip" title="Go to full ranking">Bodybuilding <small>(top ten)</small></td>
            </tr>
            <tr>
              <td colspan="5">
                <section class="table-filter" layout="row" layout-align="center center"  >
                  <md-button class="groupX left" ng-click="bBySize('')">All</md-button>
                  <md-button class="groupX middle" ng-click="bBySize('Under 75 kg')">Under 75 kg</md-button>
                  <md-button class="groupX middle" ng-click="bBySize('Under 85 kg')">Under 85 kg</md-button>
                  <md-button class="groupX right" ng-click="bBySize('Above 85 kg')">Above 85 kg</md-button>
                </section>
              </td>
            </tr>
            <tr>
              <th width="5%">RANK</th>
              <th width="75%">NAME</th>
              <th width="20%">POINTS</th>
            </tr>
          </thead>
          <tbody class="md-body-1">
            <tr ng-repeat = "player in data.players | filter: data.type='Bodybuilding' | limitTo: limit |filter: data.size= bFilter | orderBy:'-points' track by $index" ng-click="showItem('player',player)">
              <th scope="row">{{$index+1}}</th>
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Physique -->
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" >
          <thead class="thead-inverse" style="background-color: #9B9D0E">
            <tr>
              <td class="bold" ng-click="showThisTable($event)" colspan="5" data-toggle="tooltip" title="Go to full ranking">Physique <small>(top ten)</small></td>
            </tr>
            <tr>
              <td colspan="5">
                <section class="table-filter" layout="row" layout-align="center center">
                  <md-button class="groupX left" ng-click="phBySize('')">All</md-button>
                  <md-button class="groupX middle" ng-click="phBySize('Under 171 cm')">Under 171 cm</md-button>
                  <md-button class="groupX middle" ng-click="phBySize('Under 176 cm')">Under 176 cm</md-button>
                  <md-button class="groupX right" ng-click="phBySize('Above 176 cm')"> Above 176 cm</md-button>
                </section>
              </td>
            </tr>
            <tr>
              <th width="5%">RANK</th>
              <th width="75%">NAME</th>
              <th width="20%">POINTS</th>
            </tr>
          </thead>
          <tbody class="md-body-1">
            <tr ng-repeat = "player in data.players | filter: data.type='Physic' | limitTo: limit| filter: data.size= phFilter | orderBy:'-points' track by $index" ng-click="showItem('player',player)">
              <th scope="row">{{$index+1}}</th>
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Bodystyle -->
<!--     <div class="col-md-4">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-inverse" style="background-color: #36991F">
            <tr>
              <td class="bold" ng-click="showThisTable($event)" colspan="5" data-toggle="tooltip" title="Go to full ranking">Bodystyle <small>(top ten)</small></td>
            </tr>
            <tr>
              <td colspan="5">
                <section class="table-filter" layout="row" layout-align="center center">
                  <md-button class="groupX left" ng-click="bsBySize('')">All</md-button>
                  <md-button class="groupX middle" ng-click="bsBySize('Under 70 kg')">Under 70 kg</md-button>
                  <md-button class="groupX middle" ng-click="bsBySize('Under 80 kg')">Under 80 kg</md-button>
                  <md-button class="groupX right" ng-click="bsBySize('Above 80 kg')">Above 80 kg</md-button>
                </section>
              </td>
            </tr>
            <tr>
              <th width="5%">RANK</th>
              <th width="75%">NAME</th>
              <th width="20%">POINTS</th>
            </tr>
          </thead>
          <tbody class="md-body-1">
            <tr ng-repeat = "player in data.players | filter: data.type='Bodystyle' | limitTo: limit| filter: data.size= bsFilter | orderBy:'-points' track by $index" ng-click="showItem('player',player)">
              <th scope="row">{{$index+1}}</th>
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div> -->
  </div>
  <div class="row">
    <!-- Coaches -->
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-inverse" style="background-color: #174BAB">
            <tr>
              <td class="bold" ng-click="showThisTable($event)" colspan="5" data-toggle="tooltip" title="Go to full ranking">Coaches <small>(top ten)</small></td>
            </tr>
            <tr>
              <th width="5%">RANK</th>
              <th width="75%">NAME</th>
              <th width="20%">POINTS</th>
            </tr>
          </thead>
          <tbody class="md-body-1">
            <tr ng-repeat = "coach in data.coaches |  limitTo: 10 | orderBy:'-points' track by $index" ng-click="showItem('coach',coach)">
              <th scope="row">{{$index+1}}</th>
              <td>{{coach.name}}</td>
              <td>{{coach.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
    <!-- Clubs -->
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" >
          <thead class="thead-inverse" style="background-color: #97248E">
            <tr>
              <td class="bold" ng-click="showThisTable($event)" colspan="5" data-toggle="tooltip" title="Go to full ranking">Clubs <small>(top ten)</small></td>
            </tr>
            <tr>
              <th width="5%">RANK</th>
              <th width="75%">NAME</th>
              <th width="20%">POINTS</th>
            </tr>
          </thead>
          <tbody class="md-body-1">
            <tr ng-repeat = "club in data.clubs | limitTo: 10| orderBy:'-points' track by $index" ng-click="showItem('club',club)">
              <th scope="row">{{$index+1}}</th>
              <td>{{club.name}}</td>
              <td>{{club.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>